
.lista{
  list-style: none;
  display: flex;
}

.listados{
  font-size: 18px;
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
}
